# Ignore SVN files
Classes/.svn
build/
Accordion.xcodeproj/.svn

# Ignore Finder indexing files and autosaved
.DS_Store
*~

# Ignore Xcode user data file and build files

build/*
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
!default.xcworkspace

Accordion1/Accordion.xcodeproj/*.xcworkspace
Accordion1/Accordion.xcodeproj/xcuserdata/
Accordion1/Accordion.xcodeproj/*.mode1v3
Accordion1/Accordion.xcodeproj/*.pbxuser
Accordion1/build/*

Accordion2/Accordion2.xcodeproj/*.xcworkspace
Accordion2/Accordion2.xcodeproj/xcuserdata/
Accordion2/Accordion2.xcodeproj/*.mode1v3
Accordion2/Accordion2.xcodeproj/*.pbxuser
Accordion2/build/*

profile

*.moved-aside
